<app-header titulo="Notas"></app-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button routerLink="/inicio">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/calendario">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Calendário</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/sair">
        <ion-icon name="exit-outline"></ion-icon>
        <ion-label>Sair</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-content>